@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        color:brown;
        font-style:italic;
        background-color:darkgray

    }
    h1{
        color:red;
    }
</style>
<div class="text-center">
    <h1 class="display-4"><STONG>Welcome TO MY SHOP</STONG></h1>
    <p></p>
</div>
